---
import Logo from "@/assets/logo.svg";
import SocialButton from "@/components/social-button.astro";
import Link from "@/components/link.astro";
---

<footer>
  <div class="flex flex-col max-w-8xl mx-auto w-full pt-8 pb-4 gap-4 px-4">
    <div class="flex flex-wrap items-center justify-between">
      <!-- Logo -->
      <div class="flex gap-2 items-center">
        <Logo class="size-10" />
        <p class="font-head text-xl xs:text-2xl">Witchell Books</p>
      </div>

      <!-- Social Icons -->
      <div class="flex gap-2">
        <SocialButton variant="x" href="#" />
        <SocialButton variant="instagram" href="#" />
        <SocialButton variant="facebook" href="#" />
      </div>
    </div>

    <hr class="max-w-8xl mx-auto w-full border-white/20" />

    <div class="flex flex-wrap items-center justify-between">
      <p class="text-sm text-gray-400">
        &copy; <script is:inline>
          document.write(new Date().getFullYear());
        </script>
        Witchell Books. All rights reserved. Designed by <Link
          href="https://cedarstudioswebdesign.com"
          class="underline hover:text-[#3393a3]">Cedar Studios Web Design</Link
        >.
      </p>
    </div>
  </div>
</footer>
