---
import Section from "@/components/section.astro";
import bgImage from "@/assets/purple-ground.webp";
import { Image } from "astro:assets";
import Form from "@/components/form/form.astro";
---

<Section class="max-w-none relative md:pt-0">
  <div
    class="flex flex-col md:flex-row items-center justify-center md:justify-between gap-8 z-10 max-w-8xl mx-auto"
  >
    <!-- Left -->
    <div class="w-full z-10">
      <h2 class="font-sans text-center max-w-xl mx-auto">
        Stay up-to-date with the latest <span class="font-head"
          >Witchell Books</span
        > events and releases!
      </h2>
    </div>

    <!-- Right -->
    <div class="z-10 w-full">
      <Form />
    </div>
  </div>

  <!-- Background Image -->
  <Image
    src={bgImage}
    alt="Purple fog over a forest floor"
    layout="none"
    class="absolute inset-0 size-full object-cover z-0 max-w-none select-none"
  />
</Section>
