@import "tailwindcss";
@import "./starwind.css";
@import "./typography.css" layer(components);

@theme inline {
  --font-sans: "Grenze", system-ui;
  --font-head: "Gwendolyn", system-ui;
  --spacing-8xl: 90rem;
  --breakpoint-xs: 25rem;
}

@layer base {
  body {
    @apply text-foreground min-w-[20rem];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-head;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}
/* grenze-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Grenze";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/grenze-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grenze-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Grenze";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/grenze-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gwendolyn-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gwendolyn";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/gwendolyn-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
