---
import Layout from "@/layouts/layout.astro";
import Hero from "@/containers/hero.astro";
import About from "@/containers/about.astro";
import Newsletter from "@/containers/newsletter.astro";
---

<Layout>
  <Hero />

  <!-- god ray -->
  <div class="relative w-full max-w-8xl mx-auto">
    <div
      class:list={[
        "h-[50px] w-[100%] blur-[60px]",
        "absolute left-[35%] -translate-x-[50%] rotate-[-55deg]", // position,
        "-top-[clamp(25rem,41.0714rem+-33.4821vw,34.375rem)] md:-top-[clamp(10rem,42.1429rem+-35.7143vw,25rem)]", // top-position
        "bg-gradient-to-l from-[oklch(70%_0_0)] from-0% to-[oklch(40%_0_0_0)] to-95%", //gradient
      ]}
    >
    </div>
  </div>

  <About />
  <Newsletter />
</Layout>
