---
import Layout from "../layouts/layout.astro";
import "@/styles/globals.css";
import Hero from "@/containers/hero.astro";
import Section from "@/components/section.astro";
---

<Layout>
  <Hero />

  <!-- god ray -->
  <div class="relative w-full">
    <div
      class:list={[
        "h-[50px] w-[100%] opacity-100 blur-[60px]",
        "absolute left-[35%] -translate-x-[50%] rotate-[-55deg]", // position,
        "-top-[clamp(25rem,41.0714rem+-33.4821vw,34.375rem)] md:-top-[clamp(10rem,42.1429rem+-35.7143vw,25rem)]", // top-position
        "bg-gradient-to-l from-[oklch(70%_0_0)] from-0% to-[oklch(70%_0_0_0)] to-99%", //gradient
      ]}
    >
    </div>
  </div>

  <!-- About Section -->
  <Section id="about">
    <div class="max-w-xl mx-auto">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis
        ipsa, nesciunt minus architecto numquam nihil ea veritatis at facere eum
        alias explicabo fugiat aliquid quis! Aut perferendis officia a eius
        laborum exercitationem assumenda animi, voluptatibus sunt dignissimos ut
        vero reiciendis consectetur quibusdam, obcaecati necessitatibus.
        Assumenda voluptate aut aspernatur, obcaecati harum nobis cumque
        veritatis exercitationem aperiam modi a, amet sunt ab iusto quaerat
        numquam fugiat deleniti excepturi ipsam quos! Cumque atque numquam amet
        accusamus aliquid accusantium perferendis optio magnam ad fugit commodi
        minus autem labore, asperiores vero nobis facere molestias modi rerum
        error ex dolorem iste soluta. Reprehenderit harum nisi aspernatur
        libero, voluptatum saepe dolorum pariatur odit optio, eligendi quibusdam
        soluta dolore quidem nulla excepturi culpa aperiam veritatis fugiat
        repellat aliquam nihil dicta molestias ex dolorem. Repudiandae expedita,
        labore eaque hic accusantium esse corrupti reiciendis ullam nostrum
        ipsum odio eius adipisci distinctio reprehenderit ea vel praesentium
        harum ipsam delectus numquam nulla pariatur minus non? Iusto rerum quis
        delectus sapiente id dolore culpa iure nesciunt soluta! Ducimus ipsa
        ratione natus qui facilis ex nemo fuga repellendus iste totam recusandae
        excepturi, quaerat provident neque. Iste consequatur deleniti, amet
        fugit consequuntur quae assumenda sunt excepturi voluptatum officia
        saepe quos minima. Suscipit quae eveniet blanditiis eligendi nesciunt
        tenetur aliquid, praesentium quasi excepturi impedit unde maiores quo
        eius necessitatibus? Hic illo soluta eius sint? Maxime, rem, molestiae
        beatae iure saepe qui impedit vitae ducimus sint nam accusamus
        repellendus nostrum reiciendis! Deleniti laudantium unde suscipit saepe
        nostrum nihil provident itaque! Id ipsum fugit aliquid quia veniam illo
        quasi tenetur. Dicta, quidem? Assumenda magnam quo soluta, vel delectus
        sequi blanditiis praesentium dolore numquam impedit perferendis enim
        repudiandae voluptatum explicabo sint magni nulla rem vitae voluptate
        vero eligendi tempore. Illo eligendi, expedita ea ducimus aperiam
        aliquid velit amet fugit reprehenderit hic sapiente minima debitis
        provident veniam vero! Illum magni, consectetur cum obcaecati excepturi
        nam? Veniam nostrum autem nihil esse quo? Repellendus culpa eius non
        consequatur natus quis sapiente rem animi modi assumenda aliquam minima
        et expedita, commodi id nesciunt, harum, ab quaerat? Id repudiandae quas
        exercitationem quis laborum similique temporibus fuga libero porro
        nesciunt reprehenderit earum, molestias at esse. Quae quaerat sapiente
        quisquam? Recusandae excepturi animi fuga possimus molestiae rem magnam
        aliquid iusto officia, tenetur assumenda suscipit distinctio dolor
        vitae, sunt dignissimos corrupti omnis. Hic in natus repellendus
        impedit! Reiciendis laboriosam, qui nisi repudiandae possimus non
        corporis voluptate adipisci provident unde magni minima cupiditate quia
        eligendi, laborum illum eos reprehenderit quasi quaerat dicta dolore
        labore vero veniam. Inventore earum cupiditate asperiores. Ab, id.
        Voluptate iste explicabo velit aliquam inventore dolor rem dicta quidem
        cum cumque culpa exercitationem sed repellendus praesentium aspernatur
        harum, animi delectus ea. Recusandae quod reprehenderit magni quidem
        minima reiciendis, dolore distinctio aut temporibus consequatur,
        asperiores necessitatibus fugiat expedita placeat cupiditate enim iure
        ducimus fuga vitae modi sunt nostrum repellendus voluptas? Voluptatibus,
        accusamus. Quaerat debitis neque enim ullam incidunt ad possimus
        voluptatem. Aspernatur rerum magni totam suscipit excepturi, odio
        laboriosam placeat in quam pariatur id velit reiciendis eveniet quod,
        harum error sint voluptatem autem deserunt ipsum minus aliquam
        repudiandae eaque perspiciatis? Animi fuga quia optio placeat, esse
        harum ratione nam rem dolorem quas libero doloremque temporibus dicta
        reiciendis velit nemo reprehenderit porro molestiae ipsa explicabo unde
        maiores inventore! Alias voluptas ad neque. Nobis doloremque explicabo
        illum blanditiis neque adipisci, a quaerat, deleniti accusantium tenetur
        nostrum quis ducimus voluptatem ratione molestias quisquam consequuntur
        quos ad enim asperiores nihil. Vitae necessitatibus veritatis rerum,
        dolores similique saepe blanditiis est, voluptatum debitis dicta ea
        praesentium ex optio libero hic cupiditate dignissimos exercitationem?
        Quis exercitationem, id facere fugit dolore, est error quidem unde
        excepturi dolorem commodi reiciendis eaque praesentium qui a quasi totam
        voluptate perspiciatis laborum maxime? Nobis commodi dolorem non dolorum
        illum magnam fuga iure vitae optio cum autem quidem, eos nisi voluptate
        aut laudantium excepturi in saepe rerum. Necessitatibus facilis
        consequuntur aliquam aspernatur doloribus cum, a sunt nisi quisquam
        beatae, sit voluptatem blanditiis id laudantium consequatur quae eos
        neque similique soluta. Veritatis explicabo ut magnam minus quo eum
        porro soluta rerum atque sit commodi eos eveniet natus asperiores
        repellat, tenetur provident sunt aut? Adipisci, fugit! Esse quisquam ex
        itaque tempore deserunt quae praesentium optio nulla aut eaque vel saepe
        magni inventore molestias temporibus veniam adipisci in sed, quas quos.
        Tenetur beatae, deserunt quis, placeat earum sunt saepe vitae quaerat
        necessitatibus officiis odio omnis error ratione eum repudiandae?
        Voluptas velit repellat quo corporis eveniet, pariatur sed, sapiente
        eius delectus omnis temporibus repudiandae libero animi voluptatem atque
        officiis. Nostrum officia architecto quaerat porro cupiditate
        dignissimos incidunt ea quae natus distinctio, quisquam in quia, illo
        animi mollitia, obcaecati voluptas. Libero, voluptas delectus? Similique
        debitis veniam ea tenetur dolores placeat molestiae, nostrum odio
        asperiores alias aspernatur exercitationem quo minima laboriosam
        consequuntur, animi quod, non neque amet ad! Assumenda, asperiores!
        Rerum, officiis alias modi architecto nam tenetur dolor. Eos alias
        praesentium omnis sequi eius voluptatum pariatur nulla et perferendis
        repudiandae inventore molestiae repellendus vitae hic ipsa maiores
        maxime impedit, rem quibusdam consequatur dignissimos aliquid
        temporibus, asperiores aspernatur? Voluptatibus voluptate sint iusto
        enim, possimus fugit sapiente nulla distinctio, ipsam nesciunt obcaecati
        nisi voluptatem officia ducimus harum modi animi similique deserunt
        pariatur quibusdam eaque laboriosam ea! Nobis amet facere, quis,
        corporis quisquam rerum sapiente ab officia laborum beatae tempora vero
        provident harum qui cupiditate, nostrum quasi sint hic. Fuga officia
        fugiat omnis aliquam, laudantium natus numquam sequi, asperiores
        sapiente iure aut explicabo, perferendis eligendi pariatur dolorem
        repellendus earum. Commodi ducimus ea enim earum velit error, nesciunt
        praesentium sapiente nobis omnis? Aspernatur officiis suscipit enim,
        modi quae sequi error provident iure non tempore impedit rem repellendus
        optio maxime dolore at autem obcaecati pariatur voluptatem omnis
        delectus quia fugiat! Ad, omnis nostrum odio id voluptates ipsa officiis
        possimus? Incidunt iure aliquam, voluptatum blanditiis eveniet optio,
        maxime quia vero reprehenderit sunt quisquam earum aliquid. Repellat aut
        consequuntur adipisci voluptas, consequatur quam maiores eveniet
        inventore quae magnam sapiente quaerat aspernatur! Consequatur assumenda
        iusto amet numquam repudiandae commodi at minima nisi aut distinctio
        dignissimos soluta quam, doloremque ad recusandae magnam qui cum unde
        similique velit architecto! Ab quae, maxime corporis atque voluptas
        illum libero expedita ducimus fuga reprehenderit aspernatur provident
        consequuntur nemo natus at totam pariatur accusamus magni eligendi odio
        minima dolore dolor amet? Expedita, aliquam. Dolorum iusto earum
        suscipit aut praesentium iste laudantium ducimus repudiandae deserunt
        delectus sint reiciendis ipsa, qui fuga, quasi, beatae magni dolor! Quae
        perspiciatis omnis libero, fugiat quo soluta voluptates veritatis velit
        neque iure rerum accusamus fugit animi id ratione quis placeat ex eaque!
        Culpa ipsum maiores sunt sapiente! Doloremque libero dolor earum
        repellat rerum repellendus, culpa beatae? Fugit odio, sint possimus
        natus officia voluptatem quasi voluptates minima itaque adipisci est
        amet commodi repellendus soluta hic accusamus vel consequatur explicabo
        illo molestias mollitia quae cumque necessitatibus. Animi quasi
        aspernatur molestiae iure aperiam optio autem officia iusto tenetur.
        Sint ducimus alias architecto aspernatur soluta quas fugiat iure
        suscipit quaerat vero corrupti ab similique ipsum culpa itaque nisi
        ipsam, perferendis minima molestias earum doloribus vel. Quos dolores,
        illum enim eligendi voluptas deleniti soluta vitae corporis explicabo.
        Ea vel sunt expedita qui eius quia recusandae ipsa nam architecto quo
        nulla inventore totam earum, ipsum voluptatum doloremque eum nobis
        consectetur porro! Nam doloribus itaque nihil accusamus iste aspernatur
        ipsum, quis est nesciunt. Qui provident accusantium expedita, ratione
        dolore id amet impedit, error voluptas molestias, asperiores facere
        rerum distinctio! Ea, placeat magni dolorem eligendi, amet quas
        provident dolorum distinctio illum optio, iusto doloremque suscipit
        corporis architecto tempora corrupti iure enim soluta! Officiis ex
        consequuntur modi sint nostrum eligendi officia magni ullam, odio illo
        expedita eum repudiandae deleniti incidunt, molestiae quidem tempora?
        Non distinctio iste et ut obcaecati quae nesciunt qui quidem doloremque
        molestias, vitae architecto adipisci libero, laudantium, necessitatibus
        odio itaque officiis repudiandae nobis laboriosam odit nihil alias
        aliquid. Eveniet provident distinctio voluptatibus, autem ipsum omnis?
        Voluptate vero quibusdam nam ea fuga cum accusamus blanditiis aut
        expedita omnis quasi enim alias eaque iure odit tempora modi, deleniti
        optio neque quidem. Quisquam dolores repudiandae illo reprehenderit
        perferendis magni a adipisci eligendi distinctio similique, consequatur
        reiciendis ipsum, eveniet tempore quas neque soluta delectus officia
        harum nostrum nihil in ratione. Nobis fuga deleniti laborum alias
        perspiciatis. Fuga rerum doloremque quo explicabo vel quasi quos
        laudantium a possimus. Vero omnis reiciendis magni odit molestiae,
        inventore quasi dolorum necessitatibus veniam itaque doloremque deleniti
        quidem nostrum, quae delectus sunt accusantium cupiditate ea fuga,
        soluta libero nulla tempora. Nihil iusto assumenda qui, quas laborum
        eaque odit voluptas porro temporibus, earum reprehenderit! Quibusdam
        perferendis id eos et similique nobis atque eius ipsam, quas saepe nisi
        ex perspiciatis. Perferendis deleniti similique nulla odit delectus
        laboriosam et cum, velit recusandae, ullam, vel animi mollitia. Quos sit
        dignissimos porro assumenda reiciendis magnam temporibus aut in.
        Delectus provident pariatur architecto vitae tenetur alias ducimus rem
        dolor at quaerat molestiae illum saepe laboriosam repellendus soluta nam
        ad optio ullam eius, eligendi ipsa unde veritatis quasi odio! Ut harum
        maiores necessitatibus ab, voluptatibus at voluptates error in quis
        tempore nostrum rem dolor eligendi voluptatem quod omnis alias, totam
        quas! Sint, consequuntur itaque. Nobis repellat et nihil consequatur
        temporibus? Ullam doloribus, nisi nostrum aliquam, ea cumque, sit quam
        odio modi eveniet cupiditate! Dolor molestias consequatur fuga dolorem
        voluptatum at, recusandae voluptatem quos accusamus. Illo consectetur
        minus quisquam quibusdam nisi laborum illum ad impedit perferendis ea
        aperiam debitis eum, dolor obcaecati praesentium repellendus nemo
        quaerat facilis ratione ullam soluta officiis sit? Velit voluptatibus
        nobis dolorum consectetur deserunt consequuntur tempora rerum
        dignissimos, reiciendis excepturi in architecto magni eveniet voluptatem
        assumenda nemo. Eaque nostrum, autem obcaecati nesciunt repellat
        distinctio sequi consequuntur doloremque numquam sint molestiae non
        officiis, fuga iure magni blanditiis neque reiciendis. Suscipit dolorem
        soluta fugiat consequuntur facilis quam molestias nesciunt minima quidem
        cumque, explicabo ab quae ipsam quia ullam pariatur repellendus, et
        distinctio modi? Ad alias saepe voluptate mollitia dolor officiis odio
        qui eveniet id. Incidunt reiciendis, assumenda, id nesciunt minus iusto
        rerum ad corporis repellendus aliquam voluptates iure modi suscipit
        quaerat provident temporibus. Quas culpa eaque nostrum, quibusdam magnam
        quidem qui doloribus nihil in asperiores, architecto, molestias
        laudantium voluptatum cum dignissimos autem distinctio ipsum. Alias
        voluptatibus commodi repudiandae odio tempore quaerat error optio
        officiis. Nobis, quisquam ipsa. Unde quia iure nulla illum placeat eum
        alias sapiente facere, tempora nam omnis aut. Repellat hic eos quasi at
        eum! Consectetur magnam sapiente a? Atque, distinctio incidunt dolor
        accusantium nemo possimus maxime, veniam pariatur eos laborum deserunt,
        blanditiis consequatur ipsa in nihil voluptatum. Dolorem sed repellat
        repellendus minima quas cumque tempore similique veritatis natus
        perferendis voluptates nulla odio earum libero qui aperiam reprehenderit
        rem aliquam alias, officia quaerat aspernatur! Illo labore eum eos
        numquam, fugiat dolor, harum minus architecto fugit ducimus magnam, in
        placeat mollitia sapiente quae porro pariatur. Praesentium facere earum
        dolorem rerum molestiae, numquam suscipit amet dolorum explicabo dicta
        voluptatum, placeat repudiandae provident quos sequi nobis ipsum itaque
        harum distinctio saepe temporibus quaerat. Reiciendis qui nemo eligendi
        facilis officiis neque soluta quo deleniti, hic nihil. Harum quibusdam
        necessitatibus asperiores suscipit. Ea, voluptas. Accusantium illum
        temporibus ut culpa, aut cum voluptatibus nihil iusto excepturi adipisci
        nemo repellat quod exercitationem officiis totam voluptatum debitis
        nobis sunt? Recusandae quae quasi, odit eius necessitatibus aut
        praesentium. Non cum aperiam, iusto, alias magnam obcaecati beatae culpa
        id veniam tempora fugit possimus? Eos culpa cupiditate exercitationem
        optio fugiat velit. Eum corrupti fugit vel alias delectus dignissimos,
        quo labore, ad repellendus magni optio dolores dolorum esse enim iusto.
        Impedit repellat asperiores ducimus quos quam tempora beatae commodi
        dolor quia esse minima nihil magnam quae aut, ut tempore deleniti
        eligendi, incidunt quisquam, numquam facilis vitae eveniet. Alias illum,
        beatae necessitatibus explicabo molestias aspernatur qui! Natus,
        voluptate aliquid magnam tempore unde, cum sit eum dicta soluta
        repudiandae modi sapiente ea mollitia provident facilis perspiciatis,
        voluptatem pariatur ut totam illum quos! Totam harum consequatur velit
        autem dolorum possimus deleniti. Nulla quam illo nesciunt dolores nam
        doloremque, aliquid veritatis nostrum, iusto voluptas doloribus dolore
        iste expedita mollitia! Hic placeat voluptas, consectetur eos nulla
        aspernatur omnis possimus reprehenderit amet aliquid, minus quidem. Nam
        sit assumenda, architecto et obcaecati accusamus. Iste quos, odit neque
        repudiandae minima fugit recusandae fugiat suscipit exercitationem odio
        quasi, architecto magnam quidem nemo consequatur earum minus est.
        Similique, architecto officia optio, reiciendis odio accusantium
        voluptate exercitationem tenetur inventore sapiente sit porro iste,
        corrupti nam laboriosam? Ipsum omnis reprehenderit magnam. Quis natus
        soluta ex sit reprehenderit beatae obcaecati excepturi consequuntur
        fuga, laudantium error sunt, veritatis recusandae, officia aut pariatur?
        Inventore, ipsum porro. Numquam porro error odio veniam saepe, nostrum
        magnam, illum distinctio esse quae eveniet sapiente praesentium eaque
        molestias doloremque quos repudiandae suscipit? Voluptatum blanditiis
        autem eligendi debitis. Voluptas harum accusantium magnam quod
        perspiciatis molestiae hic aspernatur placeat, odio repudiandae veniam
        facere porro ipsam esse iure dolores libero ex eveniet sequi, ea nam!
        Eum dolore voluptatem, ipsam vitae commodi quas totam itaque rem quia
        accusantium reiciendis laboriosam dicta aspernatur cupiditate quaerat
        corporis laudantium impedit architecto eius possimus omnis esse hic
        maxime non. Doloremque optio esse consectetur quae qui eveniet, beatae,
        aliquam possimus porro animi facilis soluta facere aperiam quas eum
        autem perspiciatis laborum omnis deleniti dignissimos odit minus.
        Ratione iste tempore veritatis voluptate dignissimos vitae, aliquid
        ipsam saepe soluta consequatur repellendus, ad, perferendis quia veniam
        commodi nisi at minus accusamus esse. Quo culpa, nam reiciendis
        obcaecati vitae quia nisi quibusdam animi laboriosam itaque ad aperiam
        illo. Esse ipsa assumenda, possimus sed quibusdam deserunt architecto
        praesentium ipsam, iste quis aperiam qui eos, similique nisi temporibus
        porro velit. Corporis eum accusantium praesentium nulla similique animi,
        numquam eius dolores itaque et corrupti excepturi laudantium maiores rem
        quam! Quasi voluptates, illo a sunt voluptas ad amet beatae iusto
        aperiam vero animi repudiandae impedit voluptate, ea voluptatum.
        Consequatur suscipit, quasi maxime natus minus nostrum officia? Deleniti
        explicabo quaerat provident totam quisquam omnis qui nostrum ut tempore!
        Dignissimos itaque eaque quo excepturi, nesciunt ea hic dolore optio
        odit? Eveniet, illo. Aspernatur adipisci laudantium aperiam maiores,
        perferendis, necessitatibus mollitia porro perspiciatis, iusto eaque
        deserunt. Repellendus ab molestias rem voluptas quo vel dolore odio
        voluptatem, ducimus illum quod error laudantium quis doloremque
        consectetur temporibus? Sit deleniti, placeat dicta aliquam ut tenetur
        at quidem adipisci sint! Corrupti molestias tempore neque doloremque
        nostrum maiores veniam, quis autem distinctio, libero, rem adipisci sunt
        animi! Rerum, molestiae inventore asperiores quia accusamus
        reprehenderit ad nulla quasi porro numquam, nisi quidem! Explicabo esse
        eaque iure temporibus fugit eligendi officia neque dolorum ducimus
        incidunt consequatur, tempore possimus laborum? Assumenda voluptatum
        sint optio mollitia quasi quae, omnis quo alias dolor necessitatibus
        animi tempore nihil fugit eveniet soluta dolorem quas ea, veritatis
        perferendis aut voluptatibus doloribus dolores totam quisquam! Error
        beatae aliquam quia ab eveniet molestiae maxime, earum assumenda,
        provident labore tempore neque! Accusantium nesciunt, quos commodi
        temporibus nisi dolor rem quis quasi! Officiis sapiente similique
        reiciendis, dolor itaque dolore architecto sit dolorem repellat tempore
        perferendis. Iste vero consequuntur, dolor doloremque similique rerum
        dignissimos accusantium quae debitis. Nobis, necessitatibus deserunt.
        Ducimus voluptas ipsum obcaecati nobis, mollitia magnam temporibus vel
        amet iste aspernatur sit fugiat consequatur eos minima tenetur dicta
        eaque delectus labore facilis ratione alias ad. Inventore facere, ab
        aspernatur consectetur nesciunt officia aliquam corporis quod, obcaecati
        maxime dolores voluptate cum architecto. Consequuntur enim error dolorem
        molestias ipsa rerum quibusdam nesciunt? Perspiciatis ipsam facere
        repellendus eum nesciunt totam facilis nulla eius, earum ratione illum
        commodi possimus quas recusandae? Repellendus, quis numquam id
        praesentium dignissimos dolor hic voluptatum ducimus voluptas fugiat
        quia pariatur sed odio facere incidunt magni culpa, eveniet ex
        reiciendis quam similique molestiae porro ipsam repellat? Vitae,
        praesentium maxime voluptates labore facere obcaecati delectus maiores
        odit? Cupiditate unde commodi libero debitis ipsa, soluta minima culpa
        impedit nesciunt nam beatae quo ad, sunt odio aliquam qui, at molestias
        quaerat exercitationem laudantium. Quia, ratione! Tenetur vitae fugiat
        modi fuga aliquam vero praesentium dicta blanditiis minima tempora, rem
        cupiditate ab, perspiciatis deserunt officia! Explicabo unde, et sit hic
        voluptatum nihil asperiores aliquid maiores sed dicta, nemo rerum
        voluptatibus non voluptate dolores natus corrupti animi, ut illo atque
        quod iusto? Praesentium possimus vitae eius inventore perferendis
        molestiae atque perspiciatis neque debitis, veritatis, eaque omnis,
        magnam fuga animi itaque sapiente blanditiis dolorum pariatur obcaecati?
        Velit commodi adipisci soluta dolore alias ipsa facere quibusdam quo ad
        magnam, totam voluptatem, asperiores corporis fuga repudiandae sequi
        facilis, aperiam exercitationem cumque harum omnis molestias. Incidunt,
        error earum sed quidem rem optio blanditiis nihil pariatur eveniet
        voluptas voluptate voluptates ad, perferendis ullam beatae. Commodi,
        exercitationem quam necessitatibus dolores animi aspernatur, molestias
        delectus quae, odio labore libero autem dolorum id impedit ea ut sit.
        Debitis expedita quo pariatur odio, aliquam deserunt distinctio
        perspiciatis nemo ullam laborum eaque minus recusandae explicabo maiores
        vero enim quaerat? Quos facilis cumque veniam eius magnam a placeat qui,
        voluptatibus cum delectus aliquid suscipit. Laudantium inventore est
        aut, asperiores totam qui placeat dolore quod neque perferendis a
        excepturi natus minus nam enim impedit facere exercitationem ipsam id?
        Officia possimus praesentium voluptatum architecto perspiciatis placeat
        voluptatem illum reiciendis sed nostrum obcaecati nulla vero officiis,
        vel accusamus voluptas quasi velit temporibus sequi rem quibusdam esse,
        dolorum expedita sunt? Perferendis impedit at eligendi odit sit possimus
        et ipsa voluptatum, commodi sint. Omnis esse reiciendis consequatur rem,
        neque veritatis, excepturi nostrum id quis voluptatibus quidem aliquid
        ea necessitatibus expedita modi ex autem sint facilis cumque! Quia eos
        eum provident assumenda dolorum earum numquam quibusdam harum laborum,
        deserunt doloremque dolorem enim autem impedit a cum pariatur tempore?
        Velit sunt molestiae vero nobis exercitationem veniam praesentium nihil
        quaerat sit, animi amet. Accusantium inventore quam nesciunt, expedita
        labore officiis quis ab sit, laborum, nulla repudiandae voluptate
        quisquam. Enim accusantium explicabo similique voluptatem tempore et
        facere! Reprehenderit dolorem blanditiis, sequi voluptatibus tenetur
        odio minus ullam eos veniam. Iusto rem voluptatem, sint libero placeat
        repellat eos delectus possimus minima maxime. Ducimus neque suscipit
        maiores, temporibus officiis iste tenetur quidem quaerat nisi. Sit,
        quibusdam reprehenderit! Hic, nobis? Itaque incidunt quibusdam
        praesentium accusamus tenetur culpa consequatur quod. Soluta repudiandae
        molestias, sequi dolores impedit ab quisquam laborum possimus quas nemo
        expedita iusto voluptatibus et, reprehenderit fugiat, debitis accusamus
        optio eius. Quo, voluptates odio distinctio velit enim beatae! Cumque
        repudiandae voluptas ex ut temporibus quo animi! Voluptatum esse
        assumenda perferendis cupiditate amet harum obcaecati quis itaque omnis
        incidunt mollitia exercitationem, necessitatibus quod nostrum. Ex
        architecto inventore neque ipsa eum ab excepturi reprehenderit dolorem?
      </p>
    </div>
  </Section>
</Layout>

<!-- <div class="relative w-full">
  <div
    class:list={[
      "h-[50px] w-[100%] opacity-100 blur-[60px]",
      "absolute left-[35%] -translate-x-[50%] -top-[220px] rotate-[-55deg]", // position
      "bg-gradient-to-l from-[oklch(70%_0_0)] from-0% to-[oklch(70%_0_0_0)] to-99%", //gradient
    ]}
  >
  </div>
</div> -->
