---
import Head from "@/layouts/head.astro";
import type { HeadProps } from "@/layouts/head.astro";
import Nav from "@/components/nav.astro";
import Footer from "@/containers/footer.astro";
import { siteName, siteDescription } from "@/utils/config";
import "@/styles/globals.css";

interface LayoutProps extends HeadProps {
  cta?: boolean;
}

const { title = siteName, description = siteDescription } =
  Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en" transition:animate="fade" class="w-full overflow-x-clip">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="overflow-clip">
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
